<div class="text-wrap p-lg-6">
  <h3 class="mt-0 mb-4">Known issues</h3>
  <p>No system is bugless and everyone make mistakes. I am not an exception. This is a list with known issues that I
    have spotted on my own but didn't have time to handle or system users have spotted and reported ♥.</p>
  <h5>Issues:</h5>
  <ul>
    <li class="text-success">No known issues for now</li>
  </ul>

  <p>Found any issues or bugs ? Maybe you just want to give your suggestions ? Join our <a
      [attr.href]="systemConst.discordUrl" target="_blank" rel="noopener noreferrer">Discord</a> and share your
    thoughts.</p>
</div>