<div class="text-wrap p-lg-6">
  <h2 class="mt-0 mb-4">About system</h2>
  <p>
    Tradeup Ninja is a website designed to assist in searching for profitable trade ups, store that information securely
    in the browser for future use, and you can save trade ups you have already done to help keep track of your profits!
    This is a completely free website and I am not planning on monetizing this platform anytime soon.
  </p>

  <div class="alert alert-info">
    All trade up results are stored in your browser. Make sure you export them frequently in case you clean your browser
    data to prevent loss of your results
  </div>

  <h4>Key features:</h4>
  <ul>
    <li>
      Search for trade ups using custom parameters such as profit, success odds, expected value (EV), and many others.
      This can help decide if the trade up is right for you!
    </li>
    <li>
      You can save trade ups that you have found or completed to review later! Saving your incomplete trade ups can help
      keep you on track for trade up chains that may take a while to complete.
    </li>
    <li>
      All of your completed trade ups display profit or loss based on buy and sell prices! Just enter your purchase
      price for each item and what you sold it for, this information is stored in your browser data ready for you to
      export to a local file at any time!
    </li>
    <li>
      As mentioned earlier, <strong>all information doesn’t leave your browser</strong>, so you don’t have to worry
      about all the awesome trade ups you have found, are working on, or the privacy of others finding out about your
      juicy finds in contracts gone bye!
    </li>
    <li>
      This site also displays your total profit and loss on your trade ups throughout your history! It even includes
      juicy bonuses such as which was your most profitable trade up!
    </li>
    <li>
      Trade up simulation. You can simulate found trade ups so you can overview different scenarios how each particular
      trade up will result and gain some statistical information. If you don’t have the money for those juicy ak-47 wild
      lotus trade ups, you can still get the experience!
    </li>
    <li>
      Last but not least, a <strong>trade up calculator</strong>! Input either your current items, or items you wish to
      obtain into the slots with ease and Tradeup Ninja will calculate the odds of you being in profit! This feature
      also has a handy duplicator for filler skins so you do not have to search for the same skins multiple times!
      <mark>You can also set custom prices for input items and <strong>outcomes.</strong></mark>
    </li>
  </ul>
  <h3>About myself and how Tradeup Ninja was born:</h3>
  <p>
    Hi! My name is Artur and, on the internet, I am known as 6matko. I am really passionate about programming and I am
    currently working as a Frontend Architect. Besides programming, my other hobby is playing competitive CS. By
    coincidence, I got into trade up world and started investigating it and discovered some pitfalls. One of those
    pitfalls that I encountered was searching for, and analyzing profitable trade ups. Since I have skills and passion
    about programming and CSGO, why not combine them 😅 ? I initially added a simple search function which I have, and
    continue to, upgrade. In parallel to this, I started importing my trade ups to an Excel spreadsheet but rapidly
    found that it was difficult to manage the large amount of trade ups I was doing, and even more difficult to get an
    overview which became entirely unmanageable. I have reviewed others spreadsheets but they did not satisfy my
    preferences. Due to this, I implemented a place where I could quickly store the information on both completed and
    uncompleted trade ups. I was mostly interested in one thing. Am I making a profit? I sincerely hope this creation of
    mine will solve many issues and create an ease of use for everyone managing their trade ups in the future!
  </p>
  <h3>Sidenote</h3>
  <p>
    Initially this project was made to help me not only to work with trade ups but also to express myself as a
    developer. I will keep it that way. This means that I won't be able to implement some features quickly, do bug
    fixes, or even answer your questions. Tradeup Ninja is a hobby project that I love developing aside from my
    full-time job. I am not planning to implement ads, a subscription or monetization to this project in anyway (<i
      >Everything might change at the end, we never know but I will try to stick to initial plan</i
    >). So feel free to use Tradeup Ninja without any disturbances!
  </p>
  <div class="h6 alert alert-danger">
    All CSGO images and their rights belong to Valve Corporation.
  </div>
</div>
