<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Contacts
      </h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-wrap">
              <h2 class="mt-0 mb-4">Contact information</h2>
              <p>In case if you need to contact me these are some places where you can reach me. Feel free to do it.</p>
              <h3 id="contact-email">Email</h3>
              <p>support@tradeup.ninja</p>
              <h3 id="contact-steam">Steam</h3>
              <p><a href="https://steamcommunity.com/id/6matko/" target="_blank" rel="noopener noreferrer">Steam
                  profile</a></p>
              <h3 id="contact-discord">Discord</h3>
              <p>You can find me in our <a [attr.href]="systemConst.discordUrl" target="_blank"
                  rel="noopener noreferrer">Discord</a> server.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>