<div class="text-wrap p-lg-6">
  <h3 class="mt-0 mb-4">Planned features</h3>
  <p>This is a list of features that I am planning to implement in some future. Mostly when I will have time but I think
    they have to be added.</p>
  <h5>Priorities:</h5>
  <div>
    <span class="tag tag-red">High</span> - High priority. Will be implemented in the first place.
  </div>
  <div>
    <span class="tag tag-orange">Med</span> - Medium priority. Will be implemented after high priority features or in
    some cases these will be prefered over High priority due different reasons (complexity, mood, etc...).
  </div>
  <div>
    <span class="tag tag-gray-dark">Low</span> - Low priority. Will be implemented someday... <i>Maybe...</i>. These
    features usually are either hard to implement/time consuming or even under consideration (maybe needed, maybe not)
  </div>
  <h5>Features:</h5>
  <ul>
    <li>Update design with some visual improvements <span class="tag tag-red">High</span>
    </li>
    <li>Re-work result adding/editing <span class="tag tag-red">High</span>
    </li>
    <li>Re-work results page to improve UX <span class="tag tag-red">High</span>
    </li>
    <li>Improve share url by shortifying it <span class="tag tag-orange">Med</span>
    </li>
    <li>Inventory loading and further interaction <span class="tag tag-orange">Med</span>
    </li>
    <li>Internationalization (language change) <span class="tag tag-gray-dark">Low</span></li>
  </ul>
  <p>Have ideas or comments on these ? Join our <a [attr.href]="systemConst.discordUrl" target="_blank"
      rel="noopener noreferrer">Discord</a> and
    share your thoughts.</p>
</div>