.action-links {
    li {

        a,
        button.action-btn {
            background: #f8f8f8;
            border-radius: 50%;
            color: $text-muted;
            display: inline-block;
            height: 1.75rem;
            width: 1.75rem;
            line-height: 1.75rem;
            text-align: center;
            transition: 0.4s ease;
            border: none;

            &:hover {
                background-color: $info;
                color: $white;
            }

            &.danger {
                &:hover {
                    background-color: $danger;
                }
            }
        }
    }
}