<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Donate
      </h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-wrap">
              <h2 class="mt-0 mb-4">Say thank you</h2>
              <p>The most pleasant prize for me will be a simple thank you and a fact that my creation has helped
                somebody. If you enjoy using Tradeup Ninja then that makes my heart warm :3</p>
              <h3 id="material-thankyou">Want to thank with more thank words</h3>
              <p>For those who want to thank me with more than words, you can send me trade offer with any items that
                you wish. It doesn't matter what it will be
                because most important is your appreciation.</p>
              <a class="btn btn-primary btn-sm"
                href="https://steamcommunity.com/tradeoffer/new/?partner=90433856&token=2HKB1gs-" target="_blank"
                rel="noopener noreferrer">Donate via trade offer</a>
              <h3>Personal thank you to you</h3>
              <p>I appreciate the fact that you even considered visiting this page 🙂! I really hope that Tradeup Ninja
                made your tradeup work easier and you made more profit. Thank you for using it and remember
                to stay friendly. ❤</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>