<div class="text-wrap p-lg-6">
  <h2 class="mt-0 mb-4">Useful links</h2>
  <p>This is a collection of useful links (resources) that I personally think will be useful for those who are either
    starting his
    journey into CSGO Trade ups world or who needs a quick access to information source. List may change from time to
    time based on different factors.</p>
  <h4 id="tradeup-guide">Tradeup guide</h4>
  <p>
    There is a really great and comprehensive tradeup guide made by <a href="https://www.reddit.com/user/xxrandom98xx/"
      target="_blank" rel="noopener noreferrer">Babz</a> which covers most of the tradeup aspects. This is basically
    a <b>MUST READ</b> resource to anyone who is not familiar with tradeups or is planning on starting doing them.
    You can view it <a
      href="https://www.reddit.com/r/csgomarketforum/comments/g5o8sa/d_comprehensive_csgo_trade_up_contract_guide_2020/"
      target="_blank" rel="noopener noreferrer">here.</a>
  </p>
  <h4 id="tradeup-guide">CSGO Float tradup calculator</h4>
  <p>
    CSGO Float has a really great <a href="https://csgofloat.com/trade-up" target="_blank"
      rel="noopener noreferrer">Tradeup
      calculator</a> where
    you can experiment with your tradeup inputs and decide how good your tradeup is. This tradeup calculator has some
    sort of insipiration for this project. They are actively developing their project so please consider giving it a
    look.
  </p>
  <h4 id="tradeup-guide">CSGO Market Forum</h4>
  <p>
    CSGO Market Forum is a great place to self-educate about CSGO Investing and Tradeups including. It helped me gain a
    lot of useful knowledge so its definitely a place that you should visit. If you have any questions about tradeup or
    CSGO investing feel free to ask them on Reddit or Discord. Links are provided below.
  </p>
  <ul>
    <li><a href="https://www.reddit.com/r/csgomarketforum/" target="_blank" rel="noopener noreferrer">Reddit</a></li>
    <li><a href="https://discord.gg/WseJDrc" target="_blank" rel="noopener noreferrer">Discord</a></li>
  </ul>
  <p>Feel that there are more useful resources that should be listed here ? Join our <a
      [attr.href]="systemConst.discordUrl" target="_blank" rel="noopener noreferrer">Discord</a> and tell about them. We
    will
    consider adding
    them.</p>
</div>