<div class="header py-0">
  <div class="container">
    <div class="d-flex align-items-end">
      <a class="header-brand mt-3 mb-2" routerLink="/">
        <img src="assets/logo.svg" class="header-brand-img" alt="Tradeup ninja logo">
      </a>
      <div class="col-lg">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"><i class="fe fe-book"></i> About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/search" routerLinkActive="active" class="nav-link"><i class="fe fe-search"></i>
              Search</a>
          </li>
          <li class="nav-item">
            <a routerLink="/results" routerLinkActive="active" class="nav-link"><i class="fe fe-clipboard"></i>
              Results</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>